        </div>
        <div class="footer-padding"></div>
            <div class="footer">
                <% var today = new Date().getFullYear(); %>
                <p><%= today; %></p>
            </div>
        </div>
    </body>
</html>
